[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
ipython = "*"
django-dia = "*"
flake8 = "*"
isort = "*"
tox = "==3.7.0"
tox-pipenv = "*"
pylint-django = "*"

[packages]
django = ">=2.2.12,<3.2.6"
djangorestframework = "==3.10.3"
djangorestframework-simplejwt = "==4.3.0"
django-cors-headers = "==3.2.0"
requests = "==2.22.0"
drf-yasg = "==1.17.0"
psycopg2-binary = "==2.8.4"
gunicorn = "==20.0.4"
django-filter = "==2.2.0"
environs = {extras = ["django"],version = "*"}
pyyaml = "==5.3.1"
whitenoise = "==5.1.0"
django-crispy-forms ="==1.9.1"
celery = "==4.4.6"
zeep = "==3.4.0"
pillow = "==7.2.0"
Wand = "==0.6.3"

[requires]
python_version = "3.7"

[scripts]
server = "python manage.py runserver"
